.wallpaper{
	font-family: "yanone", Arial, Helvetica;
    background-color: #C4D1EB;
	/*background: url("../img/pattern.png");*/
	/*background-attachment: fixed;/*para que el fondo se quede fijado aunque hagamos scrooll igual el header se queda*/
}

body{
    
    font-family: "yanone", Arial, Helvetica;
    background: #C4D1EB;
	/*background: url("../img/pattern.png");*/
	/*background-attachment: fixed;/*para que el fondo se quede fijado aunque hagamos scrooll igual el header se queda*/
}

header{
    background: #C4D1EB;
    color: #000000;
    height: 55px;
    box-shadow: 0px 0px 20px #b3bac2;
    padding-left: 30px;
    padding-right: 25px;
}

.mynav{
    padding-left: 25px;
    padding-right: 25px;
}
nav{
    padding-left: 25px;
    padding-right: 25px;
    
    width: 100%;
}


.sidebarr{
    height: auto;
}

.aside_content{
    height: 500px;
    width: 100%;
    border-radius: 10px;
    background: #B4C0EB;
    overflow-y: scroll;
    color: #000000;
}

.sidebarl{
    height: auto;
}

.form_content{
    height: 500px;
    width: 100%;
    background: #B4C0EB;
    color: #000000;
    border-radius: 10px;
    overflow-y: scroll;
}

section{
    padding-left: 40px;
    padding-right: 10px;
    padding-top: 15px;
}

.horizontalLine{
    width: 100%;
    height: 1px;
    background-color: rgb(114, 112, 112);
}

.verticalLine{
    width: 1px;
    height: 330px;
    background-color: rgb(114, 112, 112);
}
.logo{
    width: 27px;
    height: 27px;
}

.content_upload{
    background: #ffffff;
    width: 87%;
    height: auto;
}

.uploadImage{
    width: 220px;
    height: 190px;
}

.My_Button{
    background-color: #5DBE4D;
    color: #ffffff;
    text-decoration: none;
    width: 220px;
    height: 35px;
    text-decoration: none;
    border-radius: 5px;
    float: right;
    padding-top: 5px;
    padding-left: 40px;
}
