#messages{
    width: 95%;
    max-width: 400px;
    height: 350px;
    overflow-y: scroll;
    border: 1px solid #eee;
    box-shadow: 0px 0px 20px #ccc inset;
}
.message{
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: white;
}
.participants{
    height: 480px;
    background: #B4C0EB; 
    margin-top:15px;
    margin-bottom:15px;
    border-radius:5px;
}
.listone{
    background: pink;
    margin-top:5px;
    margin-bottom:5px;
    border-radius:3px;
    margin-left:8px;
    margin-right:8px;
}
.list-item{
    background: #B4C0EB;
    cursor: pointer;
}
#message-box{
    height: 85%;
    padding:10px;

    overflow-y: scroll;
    border: 1px solid #eee;
    box-shadow: 0px 0px 20px #ccc inset;
}
#form-cont{
    padding:6px;
    background:#6F7788;
}
#text-msg{
    height:40px;
    width:50%;
}
#sms-content{
    height: 400px;
    background: #B4C0EB;
    margin-top:15px;
    margin-bottom:15px;
    border-radius:5px;
    width: 100%;
}
#middle-cont{
    margin-top:10px;
}

.TitleApp{
    font-size: 20px;
    float: left
}
.UserName{
    font-size: 18px;
    float:right;
}
.UserLogo{
    width: 30px;
    height: 30px;
    float: right;
    margin-left: 10px;
}
.Logo{
    width: 30px;
    height: 30px;
}